.popup {
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__btn-back {
  cursor: pointer;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 2;
  right: -40px;
  top: -40px;
}


.popup__btn-back:hover {
  opacity: 0.6;
}

.popup__open {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility .2s, opacity .2s linear;
}

.popup-image__btn-image {
  height: 55px;
  background-size: cover;
}


.popup-image__background {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}


.popup-image__btn-back {
  cursor: pointer;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 2;
  right: -40px;
  top: -40px;
}

.popup-image__overlay {
  position: absolute;
  z-index: 1;
}


.popup-image__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.popup-image__title {
  width: 291px;
  height: 12px;
  margin-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}