
.header{
  display: flex;
  position: relative;
  max-width: 1312px;
  background: #FFFFFF;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 74px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 77px;
}

.logo{
   width: 84px;
   height: 34px;
   margin-top: 17px;
   margin-left: 38px;
}

.main{
  margin-left: 84px;
  margin-top: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.main:hover{
  opacity: 0.6;
  cursor: pointer;
}

.portfolio{
  margin-left: 53px;
  margin-top: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

}

.portfolio:hover{
  opacity: 0.6;
  cursor: pointer;
}

.support{
  width: 33px;
height: 36px;
  position: absolute;
  top: 14px;
  right: 26px;
}

.support:hover{
  opacity: 0.6;
  cursor: pointer;
}