.aboutMe{
  background-image: url(../../images/me.svg);
  display: flex;
  position: relative;
  max-width: 1312px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 138px;
}

.me{
  background-image: url(../../images/me.svg);
  max-width: 698px;
}

.avatar{
  margin-top: 69px;
  margin-left: max(157px);
  margin-right: max(157px);
  margin-bottom: 0;
}

.name{
  font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 15px;
margin-left: max(144px);
}

.surname{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 15px;
  margin-left: max(144px);
}

.about{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-left: max(144px);
white-space: nowrap;
}

.line{
  height: 0;
  margin-top: 48;
  margin-left: auto;
  margin-right: auto;
  max-width: 495px;
  border-bottom: 2px solid #5C2D99;
  margin-bottom: 103px;
}

.portfolio__me{
  max-width: 516px;
  margin-left: auto;
  margin-right: auto;

}

.greeting{
  text-align: center;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}

.link{
  margin-top: 51px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.link__me{
  width: 186px;
  height: 49px;
  background: #E3E3E3;
  border-radius: 40px;
}

.link__me:hover{
  opacity: 0.8;
  cursor: pointer
}

.link__me:nth-child(1) {
  margin-right: 105px;
 }

.link__name{
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.portfolio__me-text{
  margin-top: 33px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .me{
      max-width: 590px;
    }

    .avatar{
      margin-left: max(115px);
    }

    .line{
      max-width: 470px;
    }

    .link__me:nth-child(1) {
      margin-right: 20px;
      margin-left: 20px;
     }

  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .aboutMe{
      margin-bottom: 202px;
    }

    .me{
      max-width: 450px;
    }
    .link__me:nth-child(1) {
      margin-right: 10px;
      margin-left: 10px;
     }

     .link__me{
      width: 150px;
      height: 49px;
    }

    .avatar{
      width: 300px;
      margin-left: max(70px);
    }

    .name{
    margin-left: max(70px);
    }

    .surname{
      margin-left: max(70px);
    }

    .about{
    margin-left: max(70px);
    }

    .line{
      height: 0;
      max-width: 400px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    .aboutMe{
      margin-bottom: 310px;
    }
    .me{
      max-width: 260px;
    }

    .avatar{
      width: 200px;
      margin-left: max(30px);
    }

    .link__me:nth-child(1) {
      margin-right: 10px;
      margin-left: 20px;
     }

     .link__me{
      width: 150px;
      height: 49px;
    }

    .name{
    margin-left: max(50px);
    }

    .surname{
      margin-left: max(50px);
    }

    .about{
      font-size: 15px;
    margin-left: max(30px);
    }

    .line{
      height: 0;
      max-width: 220px;
    }
 }